/* styles.css */

/* General body styles */
body {
  font: 12px "Monaco", Inconsolata, monospace;
  background: #083952;
  color: #f8f8f8;
}

/* Terminal container styling */
#xterm-container {
  width: 80%;        /* Adjust to desired width */
  height: 500px;     /* Set a fixed height, adjust as necessary */
  margin: 20px auto; /* Center the container */
  background-color: #252525; /* Background color for terminal */
  border: 1px solid #64DFDF; /* Optional: Add a border to distinguish the terminal */
}

/* Link styling */
a {
  font: 12px "Monaco", Inconsolata, monospace;
  text-decoration: underline;
  color: #f8f8f8;
}

